<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/views/twitter.css">
		<title>three.js css3d - periodic table</title>
	</head>
	<body>
		<div id="container"></div>
		<div id="info"><a href="http://threejs.org" target="_blank">three.js css3d</a> - periodic table. <a href="https://plus.google.com/113862800338869870683/posts/QcFk5HrWran" target="_blank">info</a>.</div>
		<div id="menu">
			<button id="table">TABLE</button>
			<button id="sphere">SPHERE</button>
			<button id="helix">HELIX</button>
			<button id="grid">GRID</button>
			<button id="conga">CONGA</button>
			<button id="back">BACK</button>
			<button id="forward">FORWARD</button>
			<button id="latest">LATEST</button>
		</div>
		<script src="lib/jquery/dist/jquery.min.js"></script>
		<script src="lib/socket.io-client/dist/socket.io.min.js"></script>
		<!--<script src="components/socket.io-client/dist/socket.io.min.js"></script>-->
		<script src="lib/3d/three.min.js"></script>
		<script src="lib/3d/tween.min.js"></script>
		<script src="lib/3d/TrackballControls.js"></script>
		<script src="lib/3d/CSS3DRenderer.js"></script>
		<script src="js/twitter/twitter.js"></script>
		<script src="js/twitter/script.js"></script>
	</body>
</html>