<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/views/twitter.css">
		<title>Twee-D by John Howlett</title>
	</head>
	<body>
		<div id="container"></div>
		<div id="info">Twee-D by <a href="http://www.john-howlett.com">John Howlett</a></div>
		
		<div id="menu">
			<button id="back">BACK</button>
			<button id="forward">FORWARD</button>
			<button id="latest">LATEST</button>
		</div>
		<script src="lib/jquery/dist/jquery.min.js"></script>
		<script src="lib/socket.io-client/dist/socket.io.min.js"></script>
		<script src="lib/3d/three.min.js"></script>
		<script src="lib/3d/tween.min.js"></script>
		<script src="lib/3d/TrackballControls.js"></script>
		<script src="lib/3d/CSS3DRenderer.js"></script>
		<script src="js/twitter/twitter.js"></script>
		<script src="js/twitter/script.js"></script>
	</body>
</html>